<div>
  <div
    class="btn-group btn-group-toggle"
    ngbRadioGroup
    name="radioBasic"
    [(ngModel)]="model"
  >
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" (click)="Coba()" /> all
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" /> SOGESTE - Groupe ESCCOT
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" /> ISCG
    </label>
  </div>
  <div style="justify-content: center; display: flex; flex-wrap: wrap">
    <div *ngFor="let item of this.number">
      <app-Card [data]="dataAll"></app-Card>
    </div>
  </div>

  <hr />
  <pre>{{ model }}</pre>
</div>
